@import "tailwindcss";

@theme inline {
  --color-primary: #d4c47e;
  --color-secondary: #1a18bb;
}

@layer base {
  h1 {
    @apply text-3xl sm:text-5xl;
    font-family: var(--font-title);
  }
  h2 {
    @apply text-3xl sm:text-4xl;
    font-family: var(--font-title);
  }
  h3 {
    @apply text-2xl sm:text-2xl;
    font-family: var(--font-title);
  }

  body {
    background: var(--color-secondary);
    font-family: var(--font-nunito);
  }
}
